{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>Submit your code</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">

        <link rel="stylesheet" href={% static 'style.css' %}>
    </head>
    <body>
        {% include './navbar.html' %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.compiler }}
            <p id="messages">
                {% for message in messages %}
                <FONT COLOR="red">{{ message }}</FONT>
                {% endfor %}</p>

            <p id="fontcolor">Write your code here:</p>
            <p>{{ form.userCode }}</p>
            <p><input class="btn btn-success" type="submit" value="Submit"></p>
        </form>

        <script rel="javascript" src={% static "codeSubmission.js" %}></script>
    </body>
</html>