<!-- {% load static %} -->
<!doctype html>
<html lang="en">
    <head>
        <title>Submit your code</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">

        <style type="text/css" media="screen">
            #editor { 
                /* top: 300px;
                right: 300px;
                bottom: 300px;
                left: 300px; */
                height: 500px;
                width: 100vw;
            }
        </style>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/css/codeSubmission.css">
    </head>
    <body>
        <!-- {% include './navbar.html' %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.compiler }}
            <p id="messages">
                {% for message in messages %}
                <FONT COLOR="red">{{ message }}</FONT>
                {% endfor %}</p>
            {{ form.userCode }}
            <div id="editor"></div> -->


        <div class="CS-all-parent">
            <div class="CS-compiler-select-parent">
                <select class="form-select form-select-sm" aria-label=".form-select-sm">
                    <option selected>Select Compiler</option>
                    <option value="1">GNU G++ 17.3.0</option>
                    <option value="2">Python3</option>
                    <option value="3">Java</option>
                  </select>
            </div>
            <div class="CS-error-message"></div>
            <div class="CS-theme-selector-parent">
                <div class="btn-group CS-theme-selector">
                    <button type="button" class="btn btn-sm btn-info dropdown-toggle CS-theme-selector" data-bs-toggle="dropdown" aria-expanded="false">
                    Theme
                    </button>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Theme1</a></li>
                    <li><a class="dropdown-item" href="#">Theme2</a></li>
                    <li><a class="dropdown-item" href="#">Theme3</a></li>
                    </ul>
                </div>
            </div>
            <div class="CS-size-selector-parent">
                <div class="btn-group CS-size-selector">
                    <button type="button" class="btn btn-sm btn-warning dropdown-toggle CS-size-selector" data-bs-toggle="dropdown" aria-expanded="false">
                    Size
                    </button>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">14</a></li>
                    <li><a class="dropdown-item" href="#">16</a></li>
                    <li><a class="dropdown-item" href="#">18</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="CS-editor-parent">
            <div id="editor"></div>
        </div>
        

























            <!-- <div class="django-ace-widget ace_editor ace_hidpi ace_dark ace-monokai" style="" maxlength="10000" required_id="id_userCode">
                    <p id="fontcolor">Write your code here:</p>
                </div> -->
                <div class="CS-submit-button-parent">
                    <input class="btn btn-success " type="submit" value="Submit">
                </div>
                </form>
        <!-- <script src= {% static "ace-builds/src-noconflict/ace.js" %}></script> -->
        <!-- <script>
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.session.setMode("ace/mode/javascript");
            </script> -->
        <!-- <script rel="javascript" src={% static "codeSubmission.js" %}></script> -->
        <!-- <script src="ace/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script> -->
        <!-- <script src="Users/tejaslolage/Documents/Programming/Projects/OnlineJudgeProject/OnlineJudge/static/ace-builds/src-noconflict/ace.js"></script> -->
        <script src="ace/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/js/codeSubmission.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    </body>
</html>