<!doctype html>
<html lang="en">
    <head>
        <title>Problems</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">
        <link rel="stylesheet" href="css/problemList.css">
    </head>
    <body class="PL-body">

        <div class="PL-list-container">
            <div class="PL-heading"><h1>Problem List</h1></div>
            <div class="PL-list-header">
                <div class="PL-header-elements">Problem number</div>
                <div class="PL-header-elements">Problem name</div>
                <div class="PL-header-elements">Difficulty</div>
            </div>
            <div class="PL-list-item-odd">
                <div class="PL-problem-id">1</div>
                <div class="PL-problem-name">Two sum</div>
                <div class="PL-problem-difficulty">Easy</div>
            </div>
            <div class="PL-list-item-even">
                <div class="PL-problem-id">1</div>
                <div class="PL-problem-name">Two sum</div>
                <div class="PL-problem-difficulty">Easy</div>
            </div>
            <div class="PL-list-item-odd">
                <div class="PL-problem-id">1</div>
                <div class="PL-problem-name">Two sum</div>
                <div class="PL-problem-difficulty">Easy</div>
            </div>
            <div class="PL-list-item-even">
                <div class="PL-problem-id">1</div>
                <div class="PL-problem-name">Two sum</div>
                <div class="PL-problem-difficulty">Easy</div>
            </div>
            <div class="PL-list-item-odd">
                <div class="PL-problem-id">1</div>
                <div class="PL-problem-name">Two sum</div>
                <div class="PL-problem-difficulty">Easy</div>
            </div>
            <div class="PL-list-item-even">
                <div class="PL-problem-id">1</div>
                <div class="PL-problem-name">Two sum</div>
                <div class="PL-problem-difficulty">Easy</div>
            </div>
        </div>


        <!-- {% include './navbar.html' %} -->
        <!-- <div class="container">
            <h1 class="PL-h1">Problem List</h1>
            <ul class="PL-ul">
                {% for problem in problem_list %}
                <ul><strong><a href="{% url 'Details' problem.id %}"
                            class="PL-a">{{ problem.problemName }}</a></strong></ul>
                <div class="PL-difficulty">
                    Difficulty: {{ problem.problemDifficulty }}
                </div>
                <br/>
                    {% endfor %}
                </ul>
            </div> -->
    </body>
</html>