/* Temporary fixture: * */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(25, 25, 25);
}
.CS-compiler-select-parent{
    width: 200px;
    display: flex;
    justify-content: center;
}
.CS-error-message{
    color: white;
    width: calc(100vw - 424px);
    text-align: center;
}
.CS-editor-parent{
    display: flex;
    justify-content: center;
    height: 75vh;
    width: 100vw;
}
@media screen {
    #editor{
        /* top: 300px;
        right: 300px;
        bottom: 300px;
        left: 300px; */
        height: 75vh;
        width: 70vw;
    }
}
#id_userCode{
    display: none;
}
.CS-all-parent{
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 12px;
}
.CS-theme-selector-parent{
    height: 30px;
    width: 100px;
}
.CS-theme-selector{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}
.CS-size-selector-parent{
    height: 30px;
    width: 100px;
    margin: 0px 20px;
}
.CS-size-selector{
    height: 30px;
    width: 100px;
    border: none;
}
.CS-submit-button-parent{
    margin: 10px;
    display: flex;
    justify-content: center;
}