*{
    margin: 0;
    padding: 0;
}
.PD-body{
    background-color: rgb(25, 25, 25);
}
.PD-problem-name-heading-green{
    color: rgb(0, 175, 0);
    font-style: normal;
    text-align: center;
    margin: 30px 0px;
    font-size: 50px;
}
.PD-problem-name-heading-yellow{
    color: rgb(200, 200, 0);
    font-style: normal;
    text-align: center;
    margin: 30px 0px;
    font-size: 50px;
}
.PD-problem-name-heading-red{
    color: rgb(200, 0, 0);
    font-style: normal;
    text-align: center;
    margin: 30px 0px;
    font-size: 50px;
}
.PD-problem-statement{
    color: white;
    margin: 0px 40px;
    font-size: larger;
}
.PD-button-parent{
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}
