@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis:wght@300&family=Hind:wght@300&family=Ms+Madi&display=swap');
.font-style-rajdhani{
    font-family: 'Rajdhani', sans-serif;
}
.font-style-pacifico{
    font-family: 'Pacifico', cursive;
}
.font-style-lobster{
    font-family: 'Lobster', cursive;
}
.font-style-ms-madi{
    font-family: 'Ms Madi', cursive;
}
.font-style-hind{
    font-family: 'Hind', sans-serif;
}
.font-style-dosis{
    font-family: 'Dosis', sans-serif;
}
.font-style-dancing-script{
    font-family: 'Dancing Script', cursive;
}
.font-style-bebas-neue{
    font-family: 'Bebas Neue', cursive;
}